crayons
twine
coverage>=4.4.1
flake8
mock
pytest
-e ./zulip
-e ./zulip_bots
-e ./zulip_botserver
-e git+https://github.com/zulip/zulint@ec36c29cd0be07e30241fa0a5172dc594fcc7bb1#egg=zulint==1.0.0
mypy==0.770
