crayons
twine
mock
pytest
pytest-cov
ruff~=0.1.4
-e ./zulip
-e ./zulip_bots
-e ./zulip_botserver
git+https://github.com/zulip/zulint@61fe2ec73e272396152d293fbf07926120e42f38#egg=zulint==1.0.0
mypy==1.6.1
types-beautifulsoup4
types-httplib2
types-python-dateutil
types-pytz
types-requests
gitlint>=0.13.0
-r ./zulip/integrations/bridge_with_matrix/requirements.txt
