recursive-include integrations *
include README.md
include zulip/examples/zuliprc
include zulip/examples/send-message
include zulip/examples/subscribe
include zulip/examples/get-public-streams
include zulip/examples/unsubscribe
include zulip/examples/list-members
include zulip/examples/list-subscriptions
include zulip/examples/print-messages
include zulip/examples/recent-messages
